ul {
  list-style: disc;
}

body {
  background-color: #edf1f6;
  margin: 0 10% 0 10%;
}

.section-title {
  color: #844dbe;
  border-left: #a76ce5 solid 10px;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  font-size: 36px;
}

.my-profile-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 15px 10px 15px 10px;
}

.prof-detail {
  line-height: 40px;
  display: flex;
  flex-flow: column;
  align-content: space-around;
}

.products {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.product-title {
  font-size: 30px;
  text-shadow: #000;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
}
.product-appear {
  display: flex;
  flex-flow: column;
}

.product-detail {
  padding: 0 10px 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-info {
  padding-right: 15px;
  width: 60%;
}

.my-product-content {
  background-color: #fff;
  width: 50%;
  margin: 10px 10px 10px 10px;
  padding: 10px 0 10px 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: auto;
}

.hair-img {
  display: flex;
}
.grape-img {
  display: flex;
  flex-flow: column;
}

.skill-name {
  font-size: 22px;
  color: #56f0cb;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.my-skill-div {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
}

.my-skill-content {
  margin: 30px;
  padding: 20px;
}

.my-links-div {
  display: flex;
  border-radius: 30px;
  justify-content: space-around;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 50px;
}

.other-picture {
  display: flex;
  align-items: center;
}

img {
  /* margin: 20px; */
  border-radius: 30px;
}
.picture {
  margin: 20px;
}
li {
  margin-left: 20px;
}
