body {
  background-color: #edf1f6;
  margin: 20px 10% 0 10%;
}
.name {
  font-size: 20px;
  font-weight: bold;
}

.section-title {
  color: #844dbe;
  border-left: #a76ce5 solid 10px;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  font-size: 36px;
  z-index: 3;
  animation-name: action;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes action {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.my-profile-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 15px 10px 15px 10px;
}
.pro-content-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pro-content-img img {
  width: 80%;
}
.products {
  display: flex;
  width: 100%;
}
.product-intro {
  display: block;
  width: 100%;
  text-align: left;
}

.prof-detail {
  width: 50%;
  line-height: 40px;
  display: flex;
  flex-flow: column;
  align-content: space-around;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.product-title {
  font-size: 20px;
  text-shadow: #000;
  font-weight: bold;
  text-align: center;
  font-family: "montserrat";
  padding: 10px;
}

.tab-group {
  display: flex;
  justify-content: center;
}
.tab {
  flex-grow: 1;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-radius: 25%;
  box-shadow: 8px 9px 10px 5px rgba(44, 48, 49, 0.445);
  width: 20%;
  height: 50%;
}
.panel-group {
  height: 100px;
  border-top: none;
  background: #eee;
}
.panel {
  display: none;
}
.tab.is-active {
  background: rgba(132, 78, 207, 0.527);

  color: #fff;

  transition: all 0.1s ease-out;
}

.my-product-content {
  background-color: #fff;
  margin: 30px auto 10px auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}
.toLink {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(83, 80, 78, 0.795);
  margin-bottom: 10px;
}

.product-top {
  text-align: center;
  margin: 10px;
  width: 80%;
}
.product-title {
  text-align: center;
}

#product-detail {
  padding: 15px 20px;
  width: 90%;
  margin: 0px auto;
}
#product-image {
  width: 100%;
}
.ios-image {
  display: flex;
  width: 50%;
}

.web-image {
  display: flex;
  flex-flow: column;
  width: 80%;
}
.picture {
  border-radius: 20%;
  margin: 20px auto;
  width: 80%;
}

.selected-img {
  box-shadow: 8px 9px 10px 5px rgba(44, 48, 49, 0.445);
  margin-bottom: 4px;
  background: rgba(0, 0, 0, 0);
  width: 40%;
}

.skill-name {
  font-size: 22px;
  color: #56f0cb;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.my-skill-div {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
}

.my-skill-content {
  margin: 30px;
  padding: 20px;
}

.my-links-div {
  display: flex;
  border-radius: 30px;
  justify-content: center;
}
.link-picture {
  width: 100%;
  max-width: 150px;
}

.other-picture {
  display: flex;
  align-items: center;
  width: 50%;
}
.slide-picture {
  width: 45%;
  object-fit: cover;
  max-width: 300px;
}

img {
  border-radius: 30px;
  padding: 5px;
}

li {
  margin-left: 20px;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 100px) {
  .other-picture {
    /* display: block; */
    text-align: center;
    width: 40%;
  }
  .slide-picture {
    margin-left: auto;
    margin-right: auto;
  }
  .my-skill-content {
    width: 60%;
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  * {
    font-size: 10px;
  }
  h2 {
    font-size: 12px;
  }
  /* 480px以下に適用されるCSS（スマホ用） */
  .section-title {
    color: #844dbe;
    border-left: #a76ce5 solid 5px;
    padding-left: 5px;
    margin: 10px 0;
    height: 20px;
    line-height: 20px;
    width: 200px;
    font-size: 20px;
  }
  .my-profile-content {
    display: block;
  }
  .pro-content-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .prof-detail {
    padding: 10px;
  }
  .picture {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
  }
  .name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  p {
    margin: 0 23px;
    height: inherit;
    line-height: 17px;
  }
  .my-product-content {
    display: block;
  }

  .product-title {
    font-size: 10px;
    margin: 0;
    text-align: center;
  }
  li {
    margin: 5px;
    display: flex;
    flex-flow: column;
  }
  .my-skill-content {
    margin: 12px 25px 12px;
    padding: 10px;
  }
  .skill-name {
    font-size: 15px;
    color: #56f0cb;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link-picture {
    max-width: 70px;
  }

  .other-picture {
    display: none;
  }
}
